h2 {
	font-size: 20px;
}

h3 {
	font-size: 18px;
}

h1 {
	color: grey;
	margin-bottom: 20px;
}

div {
	border: 3px solid #42b0f4;
	box-shadow: 8px 8px 5px #3ba2e2;
	text-decoration: none; 
	padding-bottom: 20px;
	margin: auto;
	margin-bottom: 30px;
}

.basicInfo {
	
	max-width: 300px;
}

.medData {
	
	max-width: 300px;
}

.rxInfo {
	
	max-width: 400px;	
}

.vii {
	
	max-width: 400px;
}

