<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1" color="primary" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
    <h1 text-center> {{information.name}} {{information.strength}} {{information.units}} ({{information.din}}) </h1>
    <ion-card *ngIf=isRx class= "vii welcome-card">
        <ion-item>
            <h2> Dosage: {{information.dosage}} </h2> 
        </ion-item>
        <ion-item>
            <h3> Instructions: {{information.instructions}} </h3>
        </ion-item>
    </ion-card>

    <ion-card class="medData welcome-card">
        <ion-item> 
            <h2> Medication remaining: {{information.remainingPills}}</h2>
        </ion-item>
        <ion-item>
            <h3> Date Obtained: {{date}} </h3>
        </ion-item>
    </ion-card>

    <ion-card *ngIf=isRx class="rxInfo welcome-card">
        <ion-item>
            <h2> Prescribing Doctor: {{rxInfo.doctor}} </h2>
        </ion-item>
        <ion-item>
            <h3> Date Obtained: {{date}} </h3>
        </ion-item>
        <ion-item>
            <h2> Number of Refills: {{information.numRefills}} </h2>
        </ion-item>
    </ion-card>

    <ion-button style="margin-top: 25px;" expand="block" size="large" color="primary" (click)="editMed()"> Edit </ion-button>    
</ion-content>
