ion-back-button {
    position: absolute;
}

ion-button {
    font-weight: 300;
}

.danger {
    color: red;
}

.success {
    color: green;
}

.isa_error {
    color: rgb(179, 3, 12);
    background-color: #FFD2D2;
}

#center{
    align-content: center;
    align-items: center;
    text-align: center;    
}

#trashBtn{
    width: 2.5em;
    height: 1.6em;
    font-size: 1.1em;
}