#myImage_Header {
    background: url('/assets/img/pillbox_logo_blue.svg');
    background-size: 100% 100%; 
    min-width: 20px;
}

#center {
    align-content: center;
    text-align: center; 
}

#login {
    padding-top: 30px;
}

#logo{
    background: url('/assets/img/pillbox_logo_blue.svg');
    background-size: 100% 100%;
    min-width: 87px;
    min-height: 54px;
    width: 310px;
    height: 194px;
    margin: auto;
}

#backButton{
    padding-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #3880FF;
}

.toBottom {
    padding: 20px;
}

.footer-md::before{
    background-image: none !important;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
    text-align: center;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}