#myImage_Header {
    background: url('/assets/img/pillbox_logo_blue.svg');
    background-size: 100% 100%;
    min-width: 58px;
    min-height: 36px;
}

#login {
    padding-top: 30px;
}

#logo{
    background: url('/assets/img/pillbox_logo_blue.svg');
    background-size: 100% 100%;
    min-width: 87px;
    min-height: 54px;
    width: 310px;
    height: 194px;
    margin: auto;
}

.toBottom {
    padding: 20px;
}

.footer-md::before{
    background-image: none !important;
}

.isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 10px 0px;
    padding:12px;
    text-align: center;
}

.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}