<ion-header>
  <ion-toolbar>
    <ion-title id="myImage_Header"></ion-title>
    <ion-buttons>
      <ion-back-button defaultHref="/register" color="primary" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 text-center>Login</h2>
  <form id="login" #form="ngForm" (ngSubmit)="authenticate(form)">
    <ion-card [hidden]="failedMsg === ''" class="isa_error">
        <ion-card-header>
          <ion-card-title>Unable to login</ion-card-title>
        </ion-card-header>      
        <ion-card-content color="danger">
            {{failedMsg}}
        </ion-card-content>
    </ion-card>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input name="email" placeholder="email123@example.com" type="text" ngModel required pattern="[a-zA-Z0-9]+@[a-zA-Z0-9]+\.[a-zA-Z0-9]+"></ion-input>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <!-- <ion-input name="password" type="password" ngModel required pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}$"></ion-input> -->
      <ion-input name="password" type="password" ngModel required></ion-input>

    </ion-item>
    <!-- <ion-button color="primary" type="submit" [disabled]="!form.valid"></ion-button> -->
  </form>
</ion-content>

<ion-footer>
    <div class="toBottom">
        <ion-button expand="block" size="large" color="primary" (click)="authenticate(form)" [disabled]="!form.valid">Login</ion-button>
    </div>
</ion-footer>
