<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/register" color="primary"  routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-button expand="full"> 
		<ion-icon name="camera"> </ion-icon> Take a photo 
	</ion-button>


	<ion-button expand="full"> 
		<ion-icon name="image"> </ion-icon> Upload an image
	</ion-button>

	<hr>

	<ion-button expand="full" (click)="addMedication()"> 
		Enter manually
	</ion-button>


</ion-content>
