<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1" color="primary"  routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-button id="btn-padding" size="large" [hidden]="imagePicked" (click)="takeImage()" expand="block"> 
		<ion-icon name="camera"></ion-icon> Take a photo 
	</ion-button>
	<ion-button id="btn-padding" size="large" [hidden]="imagePicked" expand="block" (click)="getImage()"> 
		<ion-icon name="image"> </ion-icon> Upload an image
	</ion-button>
	<div [hidden]="!imagePicked" style="width: 80%; margin: auto;" class="one-image" *ngFor="let img of images">
		<ion-img [src]="images[0]"></ion-img>
	</div>
	<hr class="hr-text" [hidden]="imagePicked" data-content="OR">
	<ion-button size="large" [hidden]="imagePicked" expand="block" (click)="addMedication()">
		Enter manually
	</ion-button>

	<ion-button size="large" expand="block" id="btn-padding" [hidden]="!imagePicked" (click)="continue()">
		Continue
	</ion-button>
	<ion-button size="large" expand="block" color="medium" id="btn-padding" [hidden]="!imagePicked" (click)="cancel()">
		Cancel
	</ion-button>

	<p>{{testMsg}}</p>
</ion-content>
