<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/register" color="primary"  routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-button expand="full"> 
		<ion-icon name="camera"> </ion-icon> Take a photo 
	</ion-button>


	<ion-button expand="full" (click)="getImage()"> 
		<ion-icon name="image"> </ion-icon> Upload an image
	</ion-button>

	<div [hidden]="imageResponse.length == 0" class="one-image" *ngFor="let img of imageResponse">
		<!-- <img src="{{img}}" alt="" srcset=""> -->
		<ion-img [src]="img"></ion-img>
		<!-- <ion-img [src]="'data:image/JPEG;base64,' + med.imageBytes"></ion-img> -->
	</div>

	<hr>

	<ion-button expand="full" (click)="addMedication()"> 
		Enter manually
	</ion-button>


</ion-content>
