<div class="tutorial-Slides" >
<ion-slides pager="true">
  <ion-slide class="step-one" text-center text-wrap  padding>
      
          <div class="myImage" id="myImage_1"></div>
          <!-- <ion-img src="" alt="Welcome image not found 2"></ion-img>-->
          <h2><b>Welcome to Pillbox</b></h2>
          <p>All of your medication tracking in one place!</p>

  </ion-slide>

  <ion-slide class="step-two">
      <div class="myImage" id="myImage_2"></div>
      <h2><b>Add Medications</b></h2>
      <p>Seamlessly add medications and prescriptions into the app for tracking!</p>
  </ion-slide>

  <ion-slide class="step-three">
      <div class="myImage" id="myImage_3"></div>
      <h1>Heading</h1>
      <p>Text</p>

      <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button>
  </ion-slide>
</ion-slides>
</div>
