<ion-header>
  <ion-toolbar>
    <ion-title>test-CRUD</ion-title>
    <h6 (click)="back()" id="backButton" detail>Back</h6>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label position="stacked">ID</ion-label>
        <ion-input [(ngModel)]="newItem.id"></ion-input>
      </ion-item>

    <ion-item>
      <ion-label position="stacked">Every</ion-label>
      <ion-input [(ngModel)]="newItem.every"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Count</ion-label>
        <ion-input [(ngModel)]="newItem.count"></ion-input>
      </ion-item>
   
    <ion-item>
      <ion-label position="stacked">Hour</ion-label>
      <ion-input [(ngModel)]="newItem.hour"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Minute</ion-label>
        <ion-input [(ngModel)]="newItem.minute"></ion-input>
      </ion-item>
   
    <ion-button expand="full" (click)="addItem()">Add Item!</ion-button>
   
    <ion-list #mylist>
   
      <ion-list-header>
        <ion-label>My Triggers</ion-label>
      </ion-list-header>
   
      <ion-item-sliding *ngFor="let item of items">
   
        <ion-item>
          <ion-label text-wrap>
            <h3>{{ item.id }}</h3>
            <h3>{{ item.every }}</h3>
            <h3>{{ item.count }}</h3>
            <ion-text color="secondary">
              <p>{{ item.hour }}</p>
              <p>{{ item.minute }}</p>
            </ion-text>
            <p>{{ item.minute | date:'short'}}</p>
          </ion-label>
        </ion-item>
   
        <ion-item-options side="end">
          <ion-item-option color="secondary" (click)="updateItem(item)">Update</ion-item-option>
          <ion-item-option color="danger" (click)="deleteItem(item)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
   
    </ion-list>
   

    <ion-button expand="full" (click)="deleteAll()">Delete All</ion-button>

  </ion-content>
