.btn {
	margin-top: 25px;
}

#trashBtn{
    width: 2.5em;
    height: 1.6em;
    font-size: 1.1em;
}

#center{
    align-content: center;
    align-items: center;
    text-align: center;    
}

$white-color: #fff;
$height100: 100%;

ion-grid {
	width:100%;
	background: #dfdfdf;
}

ion-row {
	height: $height100;
	background: $white-color;
}

ion-col {
	background: $white-color;
}

ion-button {
	font-weight: 300;
}

@media (min-width: 240px) and (max-width: 768px) {
	ion-grid {
		background: $white-color;
	}
	ion-col {
		border: none;
	}
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}


#myImage_Header{
 background: url('/assets/img/pillbox_logo_blue.svg');
 background-size: 100% 100%;
 min-width: 58px;
 min-height: 36px;
}


ion-card-title{
  font-size: 18px;
  padding-left: 10px;
}

