<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab1" color="primary"  routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
	<ion-row justify-content-center>
	    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
	    	<div text-center>
	        <h4>Tell us about your medication</h4>
	      	</div>
	      	<div >
				<form id="addMed" #form="ngForm" (ngSubmit)="addMed(form)">
					<ion-item> 
						<ion-label position="floating"> Name<ion-text color="danger">*</ion-text></ion-label>
						<ion-input type='text' name='name' ngModel required ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> DIN (Drug Identification Number)<ion-text color="danger">*</ion-text> </ion-label>
						<ion-input type="number" name='din' ngModel min='00000000' required ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> Strength<ion-text color="danger">*</ion-text> </ion-label>
						<ion-input type='number' name='strength' ngModel required ></ion-input>
                    </ion-item>
                    <ion-item>
						<ion-radio-group name="units" [(ngModel)]="units">
							<ion-item>
								<ion-label>mg</ion-label>
			      				<ion-radio slot="start" value="mg" checked></ion-radio>
			      			</ion-item>
			      			<ion-item>
			      				<ion-label>IU</ion-label>
			      				<ion-radio slot="start" value="iu"></ion-radio>
			      			</ion-item>
			      			<ion-item>
								<ion-label>mL</ion-label>
			      				<ion-radio slot="start" value="mL"></ion-radio>
			      			</ion-item>
						</ion-radio-group>
					</ion-item>
					<ion-item> 
						<ion-label position="floating"> Medication remaining<ion-text color="danger">*</ion-text> </ion-label>
						<ion-input type="number" name='medrem' ngModel required step='0.5' min='0' ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label position="floating"> Pharmacy Obtained At<ion-text color="danger">*</ion-text> </ion-label>
						<ion-input type="text" name='pharm' ngModel required ></ion-input>
					</ion-item>
					<ion-item>
						<ion-label for="dobt">Date Obtained<ion-text color="danger">*</ion-text></ion-label>
						<ion-datetime ngModel name="dobt" display-format="MMM DD, YYYY"></ion-datetime>
					</ion-item>
					<ion-item>
						<ion-label>Take as needed<ion-text color="danger">*</ion-text></ion-label>
						<ion-toggle name="takeAsNeeded" [(ngModel)]='takeAsNeeded' color="success"></ion-toggle>
					</ion-item>
					<ion-button expand="full" (click)="toggleRX()">This is a prescription medication</ion-button>

					<div *ngIf=isRX>
						<h4>Prescription Information</h4>
						<ion-item>
							<ion-label position="floating"> Prescribing Doctor<ion-text color="danger">*</ion-text> </ion-label>
							<ion-input type="text" name='doc' ngModel ></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating"> Dosage<ion-text color="danger">*</ion-text> </ion-label>
							<ion-input type="number" name='dosage' ngModel required step="0.1" min='0' ></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating"> Instructions<ion-text color="danger">*</ion-text> </ion-label>
							<ion-input type="text" name='instr' ngModel></ion-input>
						</ion-item>
						<ion-item>
							<ion-label position="floating"> Number of Refills<ion-text color="danger">*</ion-text> </ion-label>
							<ion-input type="number" name='numrefills' ngModel min='0' ></ion-input>
						</ion-item>
						<ion-button expand="full" id="addToScript" disabled="true" color="primary" (click)="addToScript()">Add to this prescription</ion-button>
					</div>

                    <ion-button expand="full" (click)="toggleSched()"> Add a schedule for this medication</ion-button>
                    <div *ngIf=addSched>
                        <ion-item>
                            <ion-label position="floating"> Times per day/week </ion-label>
                            <ion-input type="number" ngModel name="count"> </ion-input>
                        </ion-item>
                        <ion-item> 
                            <ion-select placeholder="Select frequency of medication" [(ngModel)]="every" name="every">
                                <ion-select-option  name="daily"  value="daily">Daily</ion-select-option>
                                <ion-select-option  name="weekly" value="weekly">Weekly</ion-select-option>
                            </ion-select>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating"> Medication start date </ion-label>
                            <ion-datetime name="startDate" ngModel>  </ion-datetime>
                        </ion-item>  
                        <ion-item>
                            <ion-label position="floating"> Timings for medication </ion-label>
                            <ion-datetime name="takeMed" display-format="HH:mm"  #takeMed required ngModel> </ion-datetime>
                        </ion-item>  

                            <ion-button (click)="addTime(takeMed.value)">+</ion-button>
                        <ion-item>
						  <ion-list>
							<ion-item *ngFor="let timing of timeList; let i = index">
							{{timing }} 
							<ion-button (click)="deleteTime(i)">-</ion-button>
							</ion-item>
						  </ion-list> 
						</ion-item>
                    </div>   

				</form>
			</div>
			
			<ion-footer>
    			<ion-button expand="full" color="primary" (click)="adding(form)">Done!</ion-button>

			</ion-footer>
		</ion-col>
	</ion-row>
</ion-grid>
</ion-content>
