<ion-content>
<ion-grid>
  <ion-row justify-content-center>
    <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
      <div text-center>
        <h4>Hello, {{name}}</h4>
      </div>
      <div padding>
      <form>
      	<ion-item>
          <ion-input type="text" placeholder="Full Name" [(ngModel)] = "name" name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" placeholder="E-mail Address"></ion-input>
        </ion-item>
        <ion-item>
          <label for="dob"> Date of Birth:  </label><br>
          <ion-input type="date" name="dob"></ion-input>
        </ion-item>
        <br>
        <h5> Medical Information (optional) </h5>
        <form  >
          <ion-item>
            <ion-input type="text" placeholder="Pre-existing conditions" #condition><ion-button (click)="addCond(condition.value)">+</ion-button></ion-input>
          </ion-item>
          <ion-item>
           <ion-list>
           <ion-item *ngFor="let condition of pxconds; let i = index">
            {{i + 1}}: {{condition }} 
            <ion-button (click)="deleteCond(i)">-</ion-button>
            </ion-item>
            </ion-list> 
          </ion-item>
        </form>
        <ion-item>
          <ion-input type="text" placeholder="Primary Physician Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="tel" placeholder="Primary Physician Number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" placeholder="Emergency Contact #1 Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="tel" placeholder="Emergency Contact #1 Number"></ion-input>
        </ion-item>

      </form>
      </div>

      <div padding>
        <ion-button size="large" href="/" expand="block">Done</ion-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>