<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content onload="populateMedicationLists()">
    <div id="date"> {{ today | date:'EEEE, MMMM d'}} </div>
    <ion-card class="welcome-card">
      <ion-card-title text-center>Today's Medications</ion-card-title>
      <ion-list *ngFor="let entry of drugsList" class="list list-ios hydrated">
          <!-- <ion-item class="in-list item ion-focusable item-label hydrated" (click)="buttonClick()">
            <h4 id="drug-time">9:30</h4>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated" (click)="buttonClick()">
              <h2>Aspirin</h2>
              <p>Some information about aspirin</p>
            </ion-label>
          </ion-item>
          -->
          <!-- *ngIf="(entry.dateObtained | date:a)=='AM'" -->
        <ion-item>
            <h4 id="drug-time" (click)="goToMedication(entry['id'])">{{entry.hour | number : '2.0-0' }}:{{entry.minute | number : '2.0-0'}}</h4>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
              <h2 (click)="goToMedication(entry)"> {{entry.name}} </h2>
              <p (click)="goToMedication(entry)">{{ entry.medInfo }}</p>
            </ion-label>
            <ion-item lines="none" id="checkBoxItem" (click)="updateDrugLists()">
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>
            <!-- <ion-item *ngIf="drugsList==null || drugsList.length==0">
                <ion-label>None</ion-label>
              </ion-item>     -->
        </ion-item>

        <!-- <ion-card-title>Taken Today</ion-card-title>
        <ion-item *ngFor="let entry of takenDrugsList">
            <h4 id="drug-time"> {{entry.time}}</h4>
              <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2> {{entry.val}} </h2>
                <p>Take 30 min before eating</p>
              </ion-label>
              <div>
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
              </div>
              
          </ion-item> -->


      </ion-list>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-list class="list list-ios hydrated">
          <ion-card-title text-center>Taken Today</ion-card-title>
          <ion-item *ngFor="let entry of takenDrugsList" id="lineThrough">
              <h4 id="drug-time" >{{entry.hour}}:{{entry.minute}}</h4> 
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                  <h2 (click)="goToMedication()" *ngIf="entry.isChecked"> {{entry.name}} </h2>
                  <p (click)="goToMedication()"> Take 30 min before eating</p>
                </ion-label>
                <ion-item lines="none" id="checkBoxItem" (click)="updateDrugLists()">
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
            </ion-item>
  
            <ion-item *ngIf="takenDrugsList==null || takenDrugsList.length==0">
              <ion-label>None</ion-label>
            </ion-item>
  
        </ion-list>
      </ion-card>

    <!-- NEED TO ADD A TAKE A NEEDED SECTION -->

    <div id="centerButton">
        <ion-button (click)="addMedication()">+ Add Medication </ion-button>
    </div>

    <div id="centerButton">
        <ion-button (click)="toastMedTrig()"> Toast Medication Triggers </ion-button>
    </div>

    <div id="centerButton">
      <ion-button (click)="populateMedicationLists()"> Refresh </ion-button>
    </div>
   
    <ion-item *ngFor="let item of meds">
      <ion-label text-wrap>
        <h3>{{ item.id }}</h3>
        <h3>{{ item.every }}</h3>
        <h3>{{ item.count }}</h3>
        <ion-text color="secondary">
          <p>{{ item.hour }}</p>
          <p>{{ item.minute }}</p>
        </ion-text>
        <p>{{ item.minute | date:'short'}}</p>
      </ion-label>
    </ion-item>

</ion-content>
