.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}
/* id="myImage_Header"
ionic-header {
  height: 30vh;
  width: 10vw;
}

ionic-title {
  /*height: 50vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //max-width: 60vw;
  //max-height: 30vh; 

}

ionic-toolbar {
  //background-image: url('/assets/img/pillbox_logo_black.svg')!important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0px;
}

div.toolbar-container{
  padding: 0px;
}

.myImage{
  min-width: 60vw;
  min-height: 30vh;
  max-width: 30vw;
  max-height: 15vh; 
}
*/
#myImage_Header{
 background: url('/assets/img/pillbox_logo_blue.svg');
 background-size: 100% 100%;
 min-width: 58px;
 min-height: 36px;
}


ion-card-title{
  font-size: 18px;
  padding-left: 10px;
}

#date{
  padding-top: 5px;
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}

#drug-time{
  padding-right: 10px;
  font-size: 1em;
}

.label {
  margin: 0;
}

.item-inner {
  padding-right: 0px!important;
}

.is-checked{
  text-decoration: line-through;
}

#centerButton{
  flex-direction: column;
  align-content: center;
  text-align: center;
}

ion-checkbox{
  --border-radius: 10px;
  --size: 18px;
}

ion-checkbox .item-cover{
  display:none;
}

#checkBoxItem{
  padding: 0px;
  margin: 0px;
  padding-left:0px;
  padding-right: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-bottom: 0px;
  --padding-top: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
}

#lineThrough{
  text-decoration: line-through;
}

hr{
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}
