<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content onload="populateMedicationLists()">
    <div id="date"> {{ today | date}} </div>
    <ion-card class="welcome-card">
      <ion-card-title>AM</ion-card-title>
      <ion-list *ngFor="let entry of drugsList" class="list list-ios hydrated">
          <!-- <ion-item class="in-list item ion-focusable item-label hydrated" (click)="buttonClick()">
            <h4 id="drug-time">9:30</h4>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated" (click)="buttonClick()">
              <h2>Aspirin</h2>
              <p>Some information about aspirin</p>
            </ion-label>
          </ion-item>
          -->

        <ion-item>
            <h4 id="drug-time" (click)="goToMedication()"> {{entry.id}}</h4>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
              <h2 (click)="goToMedication()"> {{entry.name}} </h2>
              <p (click)="goToMedication()">Take 30 min before eating</p>
            </ion-label>
            <ion-item lines="none" id="checkBoxItem" (click)="updateDrugLists()">
                    <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
            </ion-item>    
        </ion-item>

        <!-- <ion-card-title>Taken Today</ion-card-title>
        <ion-item *ngFor="let entry of takenDrugsList">
            <h4 id="drug-time"> {{entry.time}}</h4>
              <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2> {{entry.val}} </h2>
                <p>Take 30 min before eating</p>
              </ion-label>
              <div>
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
              </div>
              
          </ion-item> -->


      </ion-list>
    </ion-card>

    <ion-card class="welcome-card">
      <ion-list class="list list-ios hydrated">
          <ion-card-title>Taken Today</ion-card-title>
          <ion-item *ngFor="let entry of takenDrugsList" id="lineThrough">
              <h4 id="drug-time" (click)="goToMedication()"> {{entry.id}}</h4> 
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                  <h2 (click)="goToMedication()" *ngIf="entry.isChecked"> {{entry.name}} </h2>
                  <p (click)="goToMedication()"> Take 30 min before eating</p>
                </ion-label>
                <ion-item lines="none" id="checkBoxItem" (click)="updateDrugLists()">
                  <ion-checkbox slot="end" [(ngModel)]="entry.isChecked"></ion-checkbox>
                </ion-item>
            </ion-item>
  
  
        </ion-list>
      </ion-card>

    <!-- NEED TO ADD A TAKE A NEEDED SECTION -->

    <div id="centerButton">
        <ion-button (click)="addMedication()">+ Add Medication </ion-button>
    </div>

    <!-- <ion-card class="welcome-card">
        <ion-img src="/assets/shapes.svg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle>Get Started</ion-card-subtitle>
          <ion-card-title>Welcome to Ionic</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
        </ion-card-content>
      </ion-card> -->

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="/tutorial">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>GO TO TUTORIAL</ion-label>
      </ion-item>
      <!-- <div *ngIf="isLoggedIn; then logout else login"></div> -->
      <ion-item [hidden]="isLoggedIn" href="/login">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>GO TO LOGIN</ion-label>
      </ion-item>
      <ion-item [hidden]="!isLoggedIn" (click)="logout()">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>LOGOUT</ion-label>
      </ion-item>
      <ion-item href="/signup">
        <ion-icon slot="start" color="medium" name="grid"></ion-icon>
        <ion-label>GO TO SIGNUP</ion-label>
      </ion-item>
      <ion-item href="/medication-modify">
        <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
        <ion-label>GO TO MODIFY MEDICATION</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
