<ion-header >

    <!-- <ion-toolbar>
         <ion-title id="myImage_Header">
        </ion-title>
        <ion-title>
            Profile & Settings
        </ion-title>  
    </ion-toolbar> routerDirection="forward"  -->
</ion-header>
      
<ion-content onload="">
    <div padding>
        <h2 id="name"><strong>{{ user.givenName + ' ' + user.lastName }}</strong></h2>
    </div>
    <ion-list class="list list-ios hydrated">
        <h6>PROFILE</h6>
        <ion-item class="in-list item ion-focusable item-label hydrated" (click)="navToChangeName()" detail>
            <div id="greenCircle" slot="start" class="hydrated">
                <ion-icon name="person"></ion-icon>
            </div>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>{{ user.givenName + ' ' + user.lastName }}</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangeEmail()" detail>
            <div id="orangeCircle" slot="start" class="hydrated">
                <ion-icon name="at" id="atIcon"></ion-icon>
            </div>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>{{user.email}}</h2>
            </ion-label>
            </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangePhone()" detail>
            <div id="blueCircle" slot="start" class="hydrated">
                <ion-icon name="call"></ion-icon>
            </div>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>{{user.phoneNumber}}</h2>
            </ion-label>
        </ion-item>
        <h6>HEALTHCARE INFORMATION</h6>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangeHealthConditions()" detail>
            <div id="aquaCircle" slot="start" class="hydrated">
                    <ion-icon name="pulse"></ion-icon>
            </div>    
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Health Conditions</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangePhysicianInformation()" detail>
                <div id="softPinkCircle" slot="start" class="hydrated">
                    <ion-icon name="body"></ion-icon>
                </div>    
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                    <h2>Physician Information</h2>
                </ion-label>
        </ion-item>  
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangeViewAllMedications()" detail>
            <div id="redCircle" slot="start" class="hydrated">
                <ion-icon name="medkit"></ion-icon>
            </div>    
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>View All Medication</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToChangeViewAllPrescriptions()" detail>
            <div id="softBlueCircle" slot="start" class="hydrated">
                    <ion-icon name="clipboard"></ion-icon>
            </div>    
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>View All Prescriptions</h2>
            </ion-label>
        </ion-item>  
        <h6>PREFERENCES</h6>
        <ion-item class="in-list item ion-focusable item-label hydrated" (click)="buttonClick()" detail>
            <div id="purpleCircle" slot="start" class="hydrated">
                <ion-icon name="notifications"></ion-icon>
            </div>  
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Notifications</h2>
            </ion-label>
        </ion-item>
        <h6>ACCOUNT AND SUPPORT</h6>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="logout()" detail>
                <div id="lightBlueCircle" slot="start" class="hydrated">
                    <ion-icon name="log-out"></ion-icon>
                </div> 
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                    <h2>Log out</h2>
                </ion-label>
            </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="buttonClick()" detail>
            <div id="grayCircle" slot="start" class="hydrated">
                <ion-icon name="settings"></ion-icon>
            </div> 
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Account Settings</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="buttonClick()" detail>
            <div id="softOrangeCircle" slot="start" class="hydrated">
                <ion-icon name="alert"></ion-icon>
            </div> 
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Report a Problem</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="navToTutorial()" detail>
                <div id="forestGreenCircle" slot="start" class="hydrated">
                    <ion-icon name="school"></ion-icon>
                </div>  
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                    <h2>Tutorial</h2>
                </ion-label>
            </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="buttonClick()" detail>
            <div id="softBlueCircle" slot="start" class="hydrated">
                <ion-icon name="help"></ion-icon>
            </div>  
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Help</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="testnotifications()" detail>
            <div id="softBlueCircle" slot="start" class="hydrated">
                <ion-icon name="help"></ion-icon>
            </div>  
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>TEST NOTIFICATIONS</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="testlocalDB()" detail>
            <div id="softBlueCircle" slot="start" class="hydrated">
                <ion-icon name="help"></ion-icon>
            </div>  
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                <h2>Test SQL DB</h2>
            </ion-label>
        </ion-item>
        <ion-item  class="in-list item ion-focusable item-label hydrated no-padding" (click)="testCRUD()" detail>
                <div id="softBlueCircle" slot="start" class="hydrated">
                    <ion-icon name="help"></ion-icon>
                </div>  
                <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s hydrated">
                    <h2>Test CRUD</h2>
                </ion-label>
            </ion-item>
    </ion-list>
</ion-content>