#myImage_Header{
    background: url('/assets/img/pillbox_logo_blue.svg');
    background-size: 100% 100%;
    min-width: 58px;
    min-height: 36px;
}

#name{
    padding-top:15px;
    text-align: center;
    margin-bottom: 0px;
}

h6{
    padding-left: 10px;
    font-size: 12px;
    color: gray;
}

ion-list{
    padding-top: 0px;
}

ion-title{
    text-align: center;
}

ion-avatar{
    align-content: center;
    text-align: center;
}

ion-icon{
    width: 20px;
    height: 20px;
    color: white;
    display: inline-block;
    padding-top: 20%;
    margin: auto;
}

#atIcon{
    color: #F49D37;
    width: 41px;
    height: 41px;
    padding-top:0px;
    margin-top: -3px;
    margin-left: -3px;
}

#redCircle{
    background-color: red;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#blueCircle{
    background-color: #3880FF;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#greenCircle{
    background-color: #73e600;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#orangeCircle{
    background-color: white;
    border-radius: 34px;
    width: 33px;
    height: 33px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#purpleCircle{
    background-color: #8A52FC;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#aquaCircle{
    background-color: #00ffff;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#grayCircle{
    background-color: gray;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#softBlueCircle{
    background-color: #3366ff;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#softPinkCircle{
    background-color:#ff6699;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#softOrangeCircle{
    background-color:#ff9933;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}

#lightBlueCircle{
    background-color:#262626;
    border-radius: 34px;
    width: 34px;
    height: 34px;
    display: block;
    margin-right: 15px;
    text-align: center;
    align-content: center;
}
