<ion-content padding>
    <h6 (click)="back()" id="backButton" detail>Back</h6>
    <div id='center'>
        <h4>View All Medications</h4>
    </div>

    <ion-list >
        <ion-item *ngFor="let entry of drugsList">
            <ion-label>
              <h2 slot="start" (click)="buttonClick(entry)"> {{entry.name}} </h2>
              <ion-icon slot="end" name="arrow-down" [hidden]="entry.isHidden" (click)="buttonClick(entry)"></ion-icon>
              <ion-icon slot="end" name="arrow-forward" [hidden]="!entry.isHidden" (click)="buttonClick(entry)"></ion-icon>
              <p [hidden]="entry.isHidden" class="medicationInfo">
                Date obtained: {{entry.dateObtained}} <br>
                Remaining Pills: {{entry.remainingPills}} <br>
                Side Effects: {{entry.sideEffects}}
              </p>
              <div [hidden]="entry.isHidden" id='center2'>  
                <ion-button [hidden]="entry.isHidden" (click)="editMedication(entry['id'])">
                    <h6>Edit</h6>
                </ion-button>
              </div>
              <!-- <h6 (click)="back()" id="backButton" detail>Edit</h6> -->
            </ion-label>
        </ion-item>

      <!-- <p [hidden]="entry.isHidden" class="medicationInfo"> <br>
          Date obtained: {{entry.dateObtained}} <br>
          Remaining Pills: {{entry.remainingPills}} <br>
          Side Effects: {{entry.sideEffects}}
      </p> -->
        
        
    </ion-list>

</ion-content>
