<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header">
    </ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/register" color="primary" routerDirection="back"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    
    <div id='center'>
        <h4>View All Medications</h4>
    </div>

    <ion-list >
        <ion-item *ngFor="let entry of drugsList" >
            <ion-label text-wrap>
              <h1 (click)="buttonClick(entry)"> 
                <span slot="start">{{entry.name}}</span > 
                <ion-icon  slot="end" mode="ios"  name="arrow-down" [hidden]="entry.isHidden"></ion-icon>
                <ion-icon slot="end" mode="ios"  name="arrow-forward" [hidden]="!entry.isHidden"></ion-icon>
              </h1>
              <p id="medInfo" [hidden]="entry.isHidden" class="medicationInfo" (click)="buttonClick(entry)">
                DIN: {{ entry.din}} <br>
                Dosage: {{ entry.dosage }} <br>
                Strength: {{ entry.strength}} {{ entry.units}} <br>
                Instructions: {{ entry.instructions }} <br>
                Number of Refills: {{ entry.numRefills }}  <br> 
                Remaining Pills: {{ entry.remainingPills }} <br>
                Pharmacy Obtained: {{ entry.pharmacyObtained }} <br>
                Side Effects: {{entry.sideEffects}} <br>
                Date obtained: {{entry.dateObtained | date:'M/d/yyyy'}} <br>
                Remaining Pills: {{entry.remainingPills}} <br>
                <!-- Image, format , not sure what Number of Refills means-->
              </p>
                <ion-button [hidden]="entry.isHidden" text-center expand="block" size="default" [hidden]="entry.isHidden" (click)="editMedication(entry['id'])">
                    <h6>Edit</h6>
                </ion-button>
              
              <!-- <h6 (click)="back()" id="backButton" detail>Edit</h6> -->
            </ion-label>
        </ion-item>

      <!-- <p [hidden]="entry.isHidden" class="medicationInfo"> <br>
          Date obtained: {{entry.dateObtained}} <br>
          Remaining Pills: {{entry.remainingPills}} <br>
          Side Effects: {{entry.sideEffects}}
      </p> -->        
    </ion-list>

</ion-content>
