

h4{
    margin:0px;
}

#backButton{
    padding-left: 6px;
    margin-top: 0px;
    margin-bottom: 0px;
    display:inline-block;
    color: #3880FF;
}

#trashBtn{
    width: 2.5em;
    height: 1.6em;
    font-size: 1.1em;
}

#center{
    padding-top: 15px;
    align-content: center;
    align-items: center;
    text-align: center;
}