<ion-content padding>
  <h6 (click)="back()" id="backButton" detail>Back</h6>
  <div id='center'>
      <h4>Health Conditions</h4>
  </div>


  <form id="login" #form="ngForm" (ngSubmit)="authenticate(form)">
    <h5 [hidden]="failedMsg === ''" class="isa_error">
        <!-- <i class="fa fa-times-circle"></i> -->
        {{failedMsg}}
    </h5>

    <ion-item>
      <ion-textarea name="healthconditions" rows="6" cols="20" placeholder="Enter more information here..." ngModel="{{user.healthConditions}}"></ion-textarea>
    </ion-item>
    <div id="center">
        <ion-button color="primary" type="submit" [disabled]="!form.valid">Update</ion-button>
    </div>
  </form>

</ion-content>
