<ion-header >
  <ion-toolbar>
    <ion-title id="myImage_Header"></ion-title>
    <ion-buttons>
        <ion-back-button defaultHref="/tabs/tab3" color="primary" routerDirection="back" (click)="back()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h5 [hidden]="failedMsg === ''" class="isa_error">
        {{failedMsg}}
    </h5>
  <div id='center'>
      <h4>Health Conditions</h4>
  </div>

  <form id="login" #form="ngForm" (ngSubmit)="authenticate(form)">
    <ion-list style="padding-top: 0;" [hidden]="conditions.length == 0">
        <ion-item *ngFor="let cond of conditions; let i = index">
        {{ cond }} 
        <ion-button id="trashBtn" slot="end" color="danger" (click)="deleteCond(i)"><ion-icon name="trash"></ion-icon></ion-button>
        </ion-item>
      </ion-list> 
    <ion-item>
      <ion-input [(ngModel)]="condition" pattern="[a-zA-z\s]*" name="condition" id="condition" type="text" placeholder="Condition" ></ion-input>
    </ion-item>
    <div id="center" padding style="padding-top: 5px;">
        <ion-button  [attr.disabled]="condition != '' ? 'false' : 'true'" (click)="addCond()"><ion-icon name="add"></ion-icon> Add condition </ion-button>
    </div>

    <div id="center" style="margin: 20px;">
        <ion-button size="large" color="primary" type="submit" [disabled]="!form.valid">Update</ion-button>
    </div>
  </form>

</ion-content>
